/* CSS HEX 
--space-cadet: #1d3461ff;
--yale-blue: #1f487eff;
--queen-blue: #376996ff;
--united-nations-blue: #6290c8ff;
--cerulean-frost: #829cbcff;
*/

/* CSS HSL 
space-cadet: hsla(220, 54%, 25%, 1);
--yale-blue: hsla(214, 61%, 31%, 1);
--queen-blue: hsla(208, 46%, 40%, 1);
--united-nations-blue: hsla(213, 48%, 58%, 1);
--cerulean-frost: hsla(213, 30%, 62%, 1);
*/
/* CSS HEX 
--smoky-black: #14110fff;
--jet: #34312dff;
--gray-web: #7e7f83ff;
--almond: #d9c5b2ff;
--cultured: #f3f3f4ff;
*/
/* CSS HSL 
--smoky-black: hsla(24, 14%, 7%, 1);
--jet: hsla(34, 7%, 19%, 1);
--gray-web: hsla(228, 2%, 50%, 1);
--almond: hsla(29, 34%, 77%, 1);
--cultured: hsla(240, 4%, 95%, 1);
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


/* font-family: 'Open Sans', sans-serif;
font-family: 'Qahiri', sans-serif; */

.centerCol
{ 
	width: 50%;
	height: 30%;
}
.sub {
	background-color: #34312dff;
}
.sub-int{
	background-color: #f3f3f4ff;
}
.jet-bg{
	background-color: #d9c5b2ff;
}
.smokey_black{
	background-color: #14110fff!important;
}
.pfp{
	width: 40px;
	height: 40px;
	border-radius: 25px;
}
.naver{
	z-index: 1000;
	color: white;
	position: sticky;
    top: 0;
}

.search-bar{
	background-color: #14110fff!important;
	color: white!important;
	border-radius: 100px!important;
	border-color: #14110fff!important;
}
.search-bar:hover{
	border-color: #7e7f83ff!important;
}
.search-bar:focus{
	border-color: #7e7f83ff!important;
}
.dropdown-menu{
	background-color: #34312dff!important;
}
.dropdown-menu a{
	color: white!important;
}
.dropdown-menu a:focus{
	background-color: #14110fff!important;
}
.dropdown-menu a:hover{
	color: black!important;
}
.nav-brand{
	color: white!important;
	text-decoration: none;
}
body {
	font-family: 'Noto Sans JP', sans-serif;
	background-color: #14110fff!important;
}

.profile-header{
	border-style: solid;
	border-top: none;
	border-color: #34312dff;
	border-width: 1px;
	color: white!important;
}

.pfp-large{
	border-radius: 10px;
	height: 100%;
	width: 100%;

}
.pfp-small{
	border-radius: 25px;

	height: 50px;
	width: 50px;
}

.pfp-small-2{
	border-radius: 25px;

	height: 35px;
	width: 35px;
}

.profile-info{
	border-style: solid;
	border-width: 1px;
	border-color: #34312dff;
	border-radius: 15px;
}
.pfp-div{
	border-radius: 25px;
}
.stats-div{
	border-radius: 15px;
	/* border-top-right-radius: 15px;
	border-top-left-radius: 15px; */
}
.stats-div-2{
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
.stats-div-end{
	border-style: solid;
	border-width: 1px;
	border-color: #7e7f83ff;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
.muted {
	color: gray!important;
}
.muted-regular {
	color: gray!important;
}
.almond-bg{
	background-color: #d9c5b2ff!important;
}
.edit_btn a{
	color: white!important;
}
.edit_btn a:hover{
	color: #d9c5b2ff!important;
}
.edit_btn a:focus{
	background-color: #d9c5b2ff!important;
}
.modal-content {
	background-color: #34312dff!important;
	color: white;
}
.btn{
	border-radius: 15px!important;
	background-color: #14110fff !important;
	border-color: gray!important;
	color: rgb(201, 201, 201)!important;
}
.btn:hover{
	border-radius: 12px;
	color: white!important;
	border-color: white!important;
}
#following:hover{
	background-color: #d9c5b2ff!important;
	border-color: #d9c5b2ff!important;
}

.socials a{
	color: white!important;
}
.post-elements textarea {
	background-color: #34312dff!important;
	border-bottom-left-radius: 15px!important;
	border-bottom-right-radius: 15px!important;
	color: white!important;
	height: 200px;
}
.post-elements input {
	background-color: #34312dff!important;
	color: white!important;
}
.hr {
	border-style: solid;
	border-color: #7e7f83ff!important;
	border-width: 1px!important;
	border-top: none;
	border-left: none;
	border-right: none;
}
.border-left{
	border-left: 4px solid gray!important;
}
.name  {
	font-size: small!important;
}
.comment{
	border-color: white!important;
	border-radius: 12px!important;	
}
.full-border{
	border-style: solid;
	border-color: #34312dff!important;
	border-width: 1px!important;
	border-radius: 12px;
	background-color: rgb(31, 29, 27)!important;
}
.full-border:hover{
	border-color: rgba(217, 197, 178, 0.486)!important;
	background-color: rgba(52, 49, 45, 0.301)!important;
}

.sticky {
	position: fixed;
}

.center{
	position: absolute;
	top: 20%;
}

.above{
	z-index: 1000;
}

.clickable{
	cursor: pointer;
}